<a href="https://colab.research.google.com/github/Ashish-Madathil/Rough/blob/main/Rough_Random.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello")

Hello

In [ ]:
x = 50000.5

In [ ]:
x

50000.5

In [ ]:
x=x+7

In [ ]:
x

50007.5

In [ ]:
type(x)

float

In [ ]:
course = "Python for beginners"

In [ ]:
course

'Python for beginners'

In [ ]:
type(course)

str

In [ ]:
course[5:-1]

'n for beginner'

In [ ]:
course[-5:-1]

'nner'

In [ ]:
course[-1:]

's'

In [ ]:
course[:1]

'P'

In [ ]:
course[:2]

'Py'

In [ ]:
course[0:6]

'Python'

In [ ]:
course[-11:-1]

'r beginner'

In [ ]:
course[-11:]

'r beginners'

In [ ]:
course[-9:0]

''

In [ ]:
course[-9:-1]

'beginner'

In [ ]:
name = 'Batman'
comic = name + ' '+'&'+' '+'Robin'

In [ ]:
comic

'Batman & Robin'

In [ ]:
print(comic)

Batman & Robin

In [ ]:
print(f'{name}{comic}')

BatmanBatman & Robin

In [ ]:
print(f'{name}')

Batman

In [ ]:
type(10)

int

In [ ]:
type(10)
type(10.5)

float

In [ ]:
print(type(10))

<class 'int'>

In [ ]:
name = input("Name ?")

Name ?Ashish

In [ ]:
name

'Ashish'

In [ ]:
name = input("Name ?\n")

Name ?
Ashish

In [ ]:
name

'Ashish'

In [ ]:
name = input('Name:')
weight = float(input('Weight in kgs:'))
weightPounds = print(f'Hello, your weight in pounds is {weight*2.2046}')

Name:Ashish
Weight in kgs:75.5
Hello, your weight in pounds is 166.4473

In [ ]:
temp = int(input('Please enter the temperature: '))
if temp >= 30:
  print("It's a hot day")
elif temp <= 10:
  print("It's a cold day")
else:
  print("It's a pleasant day")

Please enter the temperature: 11
It's a pleasant day

In [ ]:
i = 1
while i<=5:
  print('*'*i)
  i +=1
print('Done')

*
**
***
****
*****
Done

In [ ]:
for i in range(20,10,-3):
  print(i)

20
17
14
11

In [ ]:
for i in range(10,20,3):
  print(i)

10
13
16
19

In [ ]:
prices = [20,30,25,40,35]  #this is a list
total = 0
for item in prices:  # pulling data from list, not range with start,stop specifications
  total+=item
  print(f'{total}')

20
50
75
115
150

In [ ]:
prices = [20,30,25,40,35]  #this is a list
total = 0
for item in prices:  # pulling data from list, not range with start,stop specifications
  total+=item
print(f'{total}')

150

In [ ]:
prices = [20,30,25,40,35]  #this is a list
total = 0
for item in prices:  # pulling data from list, not range with start,stop specifications
  total+=item
print(total)

150

In [ ]:
for x in range(4):
  for y in range(4):
    print(f'{x},{y}')

0,0
0,1
0,2
0,3
1,0
1,1
1,2
1,3
2,0
2,1
2,2
2,3
3,0
3,1
3,2
3,3

In [ ]:
import math

In [ ]:
prices = [20,30,25,40,35]  #this is a list
max = prices[0]
for item in prices:  # pulling data from list, not range with start,stop specifications
  if item > max:
    max = item
  print(f'{max}')
print(f'{max}')

20
30
30
40
40
40

In [ ]:
def greet_user():
  print('Hi there')
  print('Good Morning')

print('start')
greet_user()
print('stop')

start
Hi there
Good Morning
stop

In [ ]:
def greet_user(name):
  print(f'Hi {name}')
  print('Good morning')
  print(f"Goodbye {name}")

print('start')
greet_user("Ashish")
print('stop')

start
Hi Ashish
Good morning
Goodbye Ashish
stop

In [ ]:
def greet_user(name):
  print(f'Hi {name}')
  print('Good morning')
  print(f"Goodbye {name}")

print('start')
greet_user(input(" "))
print('stop')

start
 Ashish
Hi Ashish
Good morning
Goodbye Ashish
stop

In [ ]:
def greet_user(name):
  print(f'Hi {name}')
  print('Good morning')
  print(f"Goodbye {name}")

print('start')
greet_user(input("Enter your name: "))
print('stop')

start
Enter your name: Batman
Hi Batman
Good morning
Goodbye Batman
stop

In [ ]:
list1 = ["Batman","Robin", 20, 3, True] #list ia also a keyword so use list1 or something else instead of list

In [ ]:
type(list1)

list

In [ ]:
list1[4]

True

In [ ]:
list1.append('Ash')

In [ ]:
list1

['Batman', 'Robin', 20, 3, True, 'Ash']

In [ ]:
numbers = [2,3,6,7,1]

In [ ]:
numbers.sort()
numbers

[1, 2, 3, 6, 7]

In [ ]:
multi_d = [["MAnish", "Ashish"], [20,30]]

In [ ]:
type(multi_d)

list

In [ ]:
multi_d[1][0]

20

In [ ]:
multi_d[0][0]

'MAnish, Ashish'

In [ ]:
multi_d[1][1]

30

In [ ]:
multi_d[0][1]

'Ashish'

In [ ]:
address = {'Street': '#20, Park Street',
           'City' : 'Chennai',
           'STATE' : 'Tamil Nadu',
           'Country' : 'INDIA'}

In [ ]:
address

{'City': 'Chennai',
 'Country': 'INDIA',
 'STATE': 'Tamil Nadu',
 'Street': '#20, Park Street'}

In [ ]:
type(address)

dict

In [ ]:
address['STATE']

'Tamil Nadu'

In [ ]:
address['Street']

'#20, Park Street'

In [ ]:
address['pincode'] = 600128  #Dictionaries are mutable

In [ ]:
address

{'City': 'Chennai',
 'Country': 'INDIA',
 'STATE': 'Tamil Nadu',
 'Street': '#20, Park Street',
 'pincode': 600128}

In [ ]:
address.keys()

dict_keys(['Street', 'City', 'STATE', 'Country', 'pincode'])

In [ ]:
import random

In [ ]:
members = ['Biden','Putin','Trudeau','Modi','Angela']

In [ ]:
random.choice(members)

'Modi'

In [ ]:
random.choice(members)

'Angela'

In [ ]:
import random
for i in range(10):
  print(random.randint(20,40))

34
27
27
29
37
20
38
38
28
25

In [ ]:
import time
for items in range(0,10):
  print(items)
  time.sleep(1)    #prints after every second

0
1
2
3
4
5
6
7
8
9

PANDAS

In [1]:
cars = ["Toyota","Honda","Tesla","Audi","BMW"]

In [2]:
type(cars)

list

In [3]:
cars

['Toyota', 'Honda', 'Tesla', 'Audi', 'BMW']

In [4]:
import pandas as pd
pd.Series(cars)     #Series is list with indices

0    Toyota
1     Honda
2     Tesla
3      Audi
4       BMW
dtype: object

In [5]:
cars

['Toyota', 'Honda', 'Tesla', 'Audi', 'BMW']

In [6]:
cars1 = pd.Series(cars)

In [7]:
cars1

0    Toyota
1     Honda
2     Tesla
3      Audi
4       BMW
dtype: object

In [8]:
type(cars1)

pandas.core.series.Series

In [9]:
food = ['Pasta', 'Sambhar','Samosa','Momos','Vada-Pav','Biryani']
Weekdays = ['Mon','Tue','Wed','Thu','Fri','Sat']
pd.Series(food,Weekdays)

Mon       Pasta
Tue     Sambhar
Wed      Samosa
Thu       Momos
Fri    Vada-Pav
Sat     Biryani
dtype: object

In [10]:
pd.Series(index = food, data = Weekdays)  #The order of parameters data and index in Series class is swapped

Pasta       Mon
Sambhar     Tue
Samosa      Wed
Momos       Thu
Vada-Pav    Fri
Biryani     Sat
dtype: object

In [11]:
raw = {'city':['Mumbai','Chennai','Delhi','Bangalore','Kolkata'],
       'ranks':['1st','2nd','3rd','4th','5th'],
       'Name':['Yash','Vasanth','Ishan','Pushpa','Ripanjan']}

In [12]:
raw

{'Name': ['Yash', 'Vasanth', 'Ishan', 'Pushpa', 'Ripanjan'],
 'city': ['Mumbai', 'Chennai', 'Delhi', 'Bangalore', 'Kolkata'],
 'ranks': ['1st', '2nd', '3rd', '4th', '5th']}

In [13]:
df = pd.DataFrame(raw, columns=['city','ranks','Name'])  # Other way of making tables. Other is Series.

In [14]:
df

        city ranks      Name
0     Mumbai   1st      Yash
1    Chennai   2nd   Vasanth
2      Delhi   3rd     Ishan
3  Bangalore   4th    Pushpa
4    Kolkata   5th  Ripanjan

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df.to_csv('trial1.csv')

In [17]:
# /content/trial1.csv   Path of your file
new = pd.read_csv('/content/trial1.csv')

In [18]:
new

   Unnamed: 0       city ranks      Name
0           0     Mumbai   1st      Yash
1           1    Chennai   2nd   Vasanth
2           2      Delhi   3rd     Ishan
3           3  Bangalore   4th    Pushpa
4           4    Kolkata   5th  Ripanjan

In [19]:
new = new.drop(columns=['Unnamed: 0'])   #Drop columns
new

        city ranks      Name
0     Mumbai   1st      Yash
1    Chennai   2nd   Vasanth
2      Delhi   3rd     Ishan
3  Bangalore   4th    Pushpa
4    Kolkata   5th  Ripanjan

In [20]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   city    5 non-null      object
 1   ranks   5 non-null      object
 2   Name    5 non-null      object
dtypes: object(3)
memory usage: 248.0+ bytes

In [21]:
new.head()

        city ranks      Name
0     Mumbai   1st      Yash
1    Chennai   2nd   Vasanth
2      Delhi   3rd     Ishan
3  Bangalore   4th    Pushpa
4    Kolkata   5th  Ripanjan

In [22]:
new.head(2)

      city ranks     Name
0   Mumbai   1st     Yash
1  Chennai   2nd  Vasanth

In [23]:
new.tail(2)

        city ranks      Name
3  Bangalore   4th    Pushpa
4    Kolkata   5th  Ripanjan

In [24]:
new['Sport']='Cricket'

In [25]:
new

        city ranks      Name    Sport
0     Mumbai   1st      Yash  Cricket
1    Chennai   2nd   Vasanth  Cricket
2      Delhi   3rd     Ishan  Cricket
3  Bangalore   4th    Pushpa  Cricket
4    Kolkata   5th  Ripanjan  Cricket

Loc operators

In [26]:
new.loc[2]        # Details of 3rd row vertically presented

city       Delhi
ranks        3rd
Name       Ishan
Sport    Cricket
Name: 2, dtype: object

In [27]:
new.loc[2:4]

        city ranks      Name    Sport
2      Delhi   3rd     Ishan  Cricket
3  Bangalore   4th    Pushpa  Cricket
4    Kolkata   5th  Ripanjan  Cricket

In [28]:
sal = pd.read_csv('/content/drive/MyDrive/Verzeo_python/Salary_Data.csv')

In [29]:
sal

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0